In [1]:
import pandas as pd
import numpy as np

In [2]:
smartis = pd.read_csv(
    'smartis_sample.csv',
    sep=';',
    parse_dates=['Jour'],
    dayfirst=True,
    usecols=['Jour', 'tm', 'glot', 'um']
).rename(
            columns={'Jour': 'DATETIME', 'tm': 'TM', 'glot': 'GR', 'um': 'RH'},
            inplace=False
).set_index('DATETIME', inplace=False).astype(np.float32)
smartis.interpolate(inplace=True, axis='columns')
smartis[smartis == np.nan]

                     TM  GR  RH
DATETIME
2002-01-01 01:00:00 NaN NaN NaN
2002-01-01 02:00:00 NaN NaN NaN
2002-01-01 03:00:00 NaN NaN NaN
2002-01-01 04:00:00 NaN NaN NaN
2002-01-01 05:00:00 NaN NaN NaN
...                  ..  ..  ..
2008-01-01 20:00:00 NaN NaN NaN
2008-01-01 21:00:00 NaN NaN NaN
2008-01-01 22:00:00 NaN NaN NaN
2008-01-01 23:00:00 NaN NaN NaN
2008-01-02 00:00:00 NaN NaN NaN

[52356 rows x 3 columns]

In [3]:
vmango_input = smartis.rename(columns={'Jour':'DATETIME', 'tm':'TM', 'glot':'GR', 'um':'RH'}, inplace=False)
vmango_input.set_index('DATETIME',inplace=True)
vmango_input

KeyError: "None of ['DATETIME'] are in the columns"

In [ ]:
vmango_input.to_csv('vmango_input.csv.zip')

In [ ]:
test = pd.read_csv('vmango_input.csv.zip', index_col='DATETIME', parse_dates=['DATETIME'])
test

In [ ]:
test.plot(y='GR')

In [ ]:
test.plot(y='RH')

In [ ]:
test.plot(y='TM')