In [1]:
import numpy as np
import pandas as pd

In [2]:
factor_0_all = [0,1,2,3]
factor_1_all = [0,1,2,3]

df = pd.DataFrame([
    [0,0,0.5],
    [0,1,0.75],
    [1,2,1.]
], columns=['factor_0', 'factor_1', 'probability']).set_index(['factor_0', 'factor_1'])
df

                   probability
factor_0 factor_1
0        0                0.50
         1                0.75
1        2                1.00

In [3]:
# add missing indices
df_all_idx = df.join(pd.DataFrame(index=df.index.from_product([factor_0_all, factor_1_all])), on=['factor_0', 'factor_1'], how='outer', sort=['factor_0', 'factor_1'])
df_all_idx[df_all_idx.isna()] = 0.
df_all_idx

                   probability
factor_0 factor_1
0        0                0.50
         1                0.75
         2                0.00
         3                0.00
1        0                0.00
         1                0.00
         2                1.00
         3                0.00
2        0                0.00
         1                0.00
         2                0.00
         3                0.00
3        0                0.00
         1                0.00
         2                0.00
         3                0.00

In [4]:
df_all_idx.loc[[[0,1], [0,0], [0,2], [1,2]]]

                   probability
factor_0 factor_1
0        1                0.75
         0                0.50
         2                0.00
1        2                1.00

In [5]:
gus_factor_0 = np.array([0,0,0,1])
gus_factor_1 = np.array([1,0,2,2])

In [6]:
gus_factors = np.column_stack((gus_factor_0, gus_factor_1))
gus_factors

array([[0, 1],
       [0, 0],
       [0, 2],
       [1, 2]])

In [7]:
df_all_idx.loc[gus_factors.tolist()]

                   probability
factor_0 factor_1
0        1                0.75
         0                0.50
         2                0.00
1        2                1.00

In [8]:
rng = np.random.default_rng()

In [9]:
p = df_all_idx.loc[gus_factors.tolist()]['probability']
p

factor_0  factor_1
0         1           0.75
          0           0.50
          2           0.00
1         2           1.00
Name: probability, dtype: float64

In [10]:
rng.binomial(1., p, p.shape)

array([1, 1, 0, 1])